.button-group{
    display: flex;
    justify-content: space-around;
}

.my-product-image{
    /* max-width: 100px; */
    text-align: center;
}

/* .my-product-image img{ */
    /* width: 100%; */
/* } */